{% extends "base.html" %}
{% load static %}

{% block title %}Camera Systems - Securo{% endblock %}

{% block content %}
<section class="camera-hero animate-on-scroll from-left">
  <div class="camera-content">
    <div class="camera-text">
      <h1 class="camera-title"><span class="highlight-you">Secure</span> Your Property with Advanced <span class="highlight-you">Alarm</span> Systems</h1>
      <p class="camera-sub">
        Our advanced alarm systems are designed to protect what matters most—your home, your business, and your peace of mind. From motion sensors to entry detection, Securo offers customizable alarm packages tailored to your property’s specific needs.
      </p>
      <ul class="camera-features  animate-on-scroll from-left">
        <li>✔️ Full HD & 4K resolution</li>
        <li>✔️ 24/7 Monitoring and Rapid Response</li>
        <li>✔️ Smart Alarm Integration with Mobile Alerts</li>
        <li>✔️ Entry, Window, and Motion Detection</li>
        <li>✔️ Wireless and Hardwired Options</li>

      </ul>
      <a href="/quote-form/" class="cta-button">Get A Free Quote</a>
    </div>

    <div class="camera-image  animate-on-scroll from-left">
      <img src="{% static 'images/alarm.png' %}" alt="alarm png" />
    </div>
  </div>
</section>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      document.querySelectorAll('.animate-on-load').forEach(el => {
        el.classList.add('visible');
      });
    }, 100); // small delay to ensure smoother entry
  });
</script>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        observer.unobserve(entry.target); // optional: remove once visible
      }
    });
  }, {
    threshold: 0.1
  });

  document.querySelectorAll('.animate-on-scroll').forEach(el => {
    observer.observe(el);
  });
</script>

{% endblock %}
s