{% extends "base.html" %}

{% block title %}Home - Security Systems{% endblock %}

{% block content %}
<section class="slogan-section">
  <h1 class="slogan-title">
     <span class="highlight-you">Protect</span> What Matters.
  </h1>
  <h1 class="slogan-title">
     Give <span class="highlight-you">Yourself</span> Peace of Mind.
  </h1>
  <p class="slogan-sub">At Securo, we’re committed to delivering reliable, user-friendly security solutions for homes and businesses alike. Whether you're looking to upgrade your system or explore new protection options, our team is here to help every step of the way.</p>
  <a href="/quote-form/" class="cta-button">Get a Free Quote</a>

</section>
{% endblock %}
