
{% extends "base.html" %}
{% load static %}

{% block title %}Home - Security Systems{% endblock %}

{% block content %}
<section class="slogan-hero">
  <div class="hero-content">
    <div class="hero-text animate-on-scroll from-left">
      <h1 class="slogan-title">
        <span class="highlight-you">Protect</span> What Matters
      </h1>
      <h1 class="slogan-title second-line">
        Give <span class="highlight-you">Yourself</span> Peace of Mind
      </h1>
      <p class="slogan-sub">At Securo, we’re committed to delivering reliable, user-friendly security solutions for homes and businesses alike. Whether you're looking to upgrade your system or explore new protection options, our team is here to help every step of the way.</p>
      <a href="/quote-form/" class="cta-button">Get a Free Quote</a>
    </div>

    <div class="hero-images animate-on-scroll from-down">
      <img src="{% static 'images/installing.png' %}" alt="Installing camera" class="main-img">
      <img src="{% static 'images/suburban_home.png' %}" alt="Suburban home" class="overlay-img">
    </div>
  </div>
</section>

<section class="slogan-hero">
  <div class="hero-content">
    <div class="hero-images animate-on-scroll from-down">
      <img src="{% static 'images/peaceful_house.png' %}" alt="house 2" class="main-img">
    </div>
    <div class="hero-text animate-on-scroll from-right">
      <h1 class="slogan-title">
        <span class="highlight-you">4 Years</span> of Trusted Protection
      </h1>
      <p class="slogan-sub">
        For over four years, <strong>Securo</strong> has been dedicated to safeguarding homes and businesses across Ottawa and beyond. Our experienced team delivers professional installations, reliable technology, and peace of mind to families and entrepreneurs alike. We don’t just install cameras—we build security you can trust.
      </p>
      <a href="/about/" class="cta-button">Learn About Our Journey</a>
    </div>
  </div>
</section>


<section class="slogan-hero">
  <div class="hero-content">
    <div class="hero-text animate-on-scroll from-left">
      <h1 class="slogan-title">
        <span class="highlight-you">Proudly</span> Canadian
      </h1>
      <p class="slogan-sub">Securo is proudly founded and operated right here in Ottawa. With years of local expertise, we understand the unique security needs of Canadian homes and businesses. Our trusted team is committed to delivering reliable, community-focused service with the values that make us proudly Canadian.</p>
      <a href="/contact/" class="cta-button">Contact Us Today!</a>
    </div>

    <div class="hero-images animate-on-scroll from-up">
      <img src="{% static 'images/canadian_leaf.png' %}" alt="Canadian Logo" class="main-img">
    </div>
  </div>
</section>


{% endblock %}
